<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=26.21.190.108;Initial Catalog=CINES;Persist Security Info=True;User ID=Pablo;Password=48038429;Encrypt=False;TrustServerCertificate=True;
" providerName="System.data.sqlClient"
			 
			 />
	</connectionStrings>
</configuration>